<p>This has led to revpar at <span class="orange">our property</span> that has outpaced the <span class="blue">competition</span>...</p>
<div class="ytd-graph"></div>
<ul class="summary row">
	<li class="span2">
		<div>
			<h5>Our Revpar</h5>
			<p>$92.39</p>
		</div>
	</li>
	<li class="span2">
		<div>
			<h5>Comp Revpar</h5>
			<p>$82.69</p>
		</div>
	</li>
	<li class="span2">
		<div>
			<h5>Index</h5>
			<p>111.73</p>
		</div>
	</li>
	<li class="span2">
		<div>
			<h5>Rank</h5>
			<p>2 of 8</p>
		</div>
	</li>
</ul>